mat-card {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  width: 100%;
}
mat-card-header:not(.collab) {
  background-color: #673ab7;
  color: white;
  height: 50px;
  width: 100%;
}

.container {
  background-color: #d6d6d6;
  width: 100%;
}
/deep/ .mat-card-header-text {
  width: 100%;
}
mat-card-title:not(.collab) {
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

div:not(.example-header-image) {
  width: 100%;
}
.backlogList {
  float: left;
}
mat-list {
  width: 100%;
}

button {
  width: 100%;
}
mat-icon {
  float: right;
  line-height: 50px;
  height: 50px;
  vertical-align: middle;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
mat-card-content {
  padding: 2%;
}
